[run]
# Generate paths relative to this directory
relative_files = true
# Don't omit anything from the original report
omit = 

[report]
# Exclude patterns from coverage report
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    if False:
    @abstractmethod

